main.front-main {
    background-color: #f2f2f2;
    padding-top: 33px;

    .content {
        flex: 1 1 auto;
    }

    .side {
        margin-right: 20px;

        &.fix {
            width: 310px;
            flex-shrink: 0;
        }
    }

    .content+.side {
        margin-right: 0;
        margin-left: 20px;
    }
}