.selectTool {
  padding: 0.75rem 1rem;
  border: 2px solid #000;
  border-radius:0;
}
.inputToolContainer{
  .btn{
  min-width:44px;
  border-radius:0;
  .bi{
    font-size:1.25rem;
  }
  }
}
.inputTool {
  padding: 0.75rem 1rem;
  border: 2px solid #000;
  border-radius:0;
}
