.selectTool {
  padding: 0.75rem 1rem;
  border: 2px solid #000;
  border-radius: 0;
}
.inputToolContainer {
  .btn {
    min-width: 44px;
    border-radius: 0;
    .bi {
      font-size: 1.25rem;
    }
  }
}
.inputTool {
  padding: 0.75rem 1rem;
  border: 2px solid #000;
  border-radius: 0;
}
.btn--icon--col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
}
.text--title {
  font-weight: 700;
  color: black;
}
.text--subTxt {
  font-size: 0.75rem;
  color: #979797;
}
// title
.title {
  font-size: 20px;
  color: #1d1d1d;
}

// user
.user-picture {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  margin-right: 12px;
  border: 1px solid #e2e2e2;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  flex-grow: 1;
}

.user-info-title {
  font-size: 14px;
  color: #1d1d1d;

  &:only-child {
    margin: auto 0;
  }
}

.user-info-subtitle {
  font-size: 12px;
  color: #989898;
}

// icon
.icon {
  display: flex;
  align-items: center;
  padding: 8px;

  i {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
  }

  span {
    font-size: 14px;
    margin-left: 4px;
  }
}

.webIcon {
  font-size: 1.25rem;
}
.webIcon--sm {
  font-size: 1rem;
}

.subNav--row {
  display: flex;
  align-items: center;
  &__item {
    padding: 10px 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid var(--bs-gray-middle);
    cursor: pointer;
    &:hover {
      border: 1px solid var(--bs-primary);
      color: var(--bs-primary);
    }
    &.active {
      border: 1px solid var(--bs-primary);
      color: var(--bs-primary);
      background-color: var(--bs-secondary);
    }
  }
}
.backPageHeader {
  position: sticky;
  top: 0;
}
.backPageHeader__titleBox {
  display: flex;
  padding: 1.5rem;
  background-color: var(--bs-white);
  height: 72px;
  &__title {
    font-size: 1.25rem;
    color: var(--bs-black);
  }
}
.infoListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 0.25rem;
  &__title {
    font-size: 0.75rem;
    color: #989898;
    &:only-child {
      margin: auto 0;
    }
  }

  &__content {
    font-size: 0.875rem;
    color: #646464;
  }
}
